NUXT_ENV_API_BASE_URL=https://api.themoviedb.org/3
NUXT_ENV_API_KEY=2e81c8dd9d633e6f1ab4b7bdc16d9a05
NUXT_ENV_API_IMAGE_URL=https://image.tmdb.org/t/p
NUXT_API_YOUTUBE_PLAYER=youtubeembeddedplayer.googleapis.com
NUXT_API_YOUTUBE_PLAYER_KEY=AIzaSyATB6mnJarfGO5zckPQrHNZIdXdxbsQ-XU